<form
  (ngSubmit)="onSubmit(myFunForm.value)"
  [formGroup]="myFunForm">
  <h1>Fill out this awesome form</h1>

  <fieldset>
    <h2>Your details</h2>
    <label>
    Email
    <input
      type="text"
      formControlName="email">
  </label>
  <label>
    password
    <input
      type="password"
      formControlName="password">
  </label>
  </fieldset>
  <fieldset>
    <h2>Your animal</h2>
    <label>
      Color
      <select
        formControlName="color">
        <ng-container
          *ngFor="let color of colorArray">
          <option
            value=color>{{color}}</option>
        </ng-container>
      </select>
    </label>
    <div
      formGroupName="animalGroup">
      Animal
      <ng-container
        *ngFor="let animal of animalArray; let i=index">
        <label>
          <input
            (click)="updateAnimalValidation(animal)"
            type="checkbox"
            [formControlName]='animalArray[i]'>
          {{animal}}
        </label>
      </ng-container>
    </div>
    <ng-container
      *ngIf="tigerIsClicked">
    <label>
      <input
        type="text"
        formControlName="type_of_tiger">
      Type of tiger
    </label>

    </ng-container>
    <button
      type="submit"
      [disabled]="!myFunForm.valid">
      Create Account
    </button>
  </fieldset>
</form>
